<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [2]:
print("Olá mundo!")

Olá mundo!

Crie uma célua de texto e adicione uma imagem.

### Resolvendo exercícios:
<img src="https://moacirbrg-ebac-exercises.s3.amazonaws.com/pic-01-problem-solving.jpg" alt="Pessoas resolvendo problemas (Imagem adquirirda através da assinatura paga do estudate em https://www.freepik.com/)" />

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [3]:
# (A)
a_qtd_total_vendas = 3
a_ticket_medio = 320.52
A = a_qtd_total_vendas * a_ticket_medio
print(A)

961.56

In [4]:
# (B)
b_valor_total_vendas = 834.47
b_ticket_medio = 119.21
B = b_valor_total_vendas / b_ticket_medio
print(B)

7.000000000000001

In [5]:
# (C)
c_valor_total_vendas = 15_378
c_qtd_total_vendas = 5
C = c_valor_total_vendas / c_qtd_total_vendas
print(C)

3075.6

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [6]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
upper = cancao.upper()
lower = cancao.lower()
all_capital = ' '.join([word.capitalize() for word in cancao.split(' ')])

print(cancao)
print(upper)
print(lower)
print(all_capital)

Roda mundo, roda gigante, roda moinho, roda pião.
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
roda mundo, roda gigante, roda moinho, roda pião.
Roda Mundo, Roda Gigante, Roda Moinho, Roda Pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [7]:
# Aqui eu poderia ter usado simplesmente os ranges dentro da string, mas quis fazer de uma forma mais genérica, pois programo há alguns vários anos, mesmo assim esse código é fácil de quebrar, mas achei um pouquinho mais desafiador pra mim, espero que você goste. :)
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
noticia_partes = noticia.split(' ')

selic_full = [palavra for palavra in noticia_partes if palavra.endswith('%')]
selic = selic_full[0].replace('%', '') if selic_full else None

ano = [noticia_partes[i - 1] for i, palavra in enumerate(noticia_partes) if palavra.startswith('anos')][0]

print(selic)
print(ano)

2,75
6

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [8]:
a = False
b = True

x = not a & b

print('A: ', a)
print('B: ', b)
print('A & B: ', a & b)
print('A | B: ', a | b)
print('not A: ', not a)
print('--------')
print('X: ', x)

A:  False
B:  True
A & B:  False
A | B:  True
not A:  True
--------
X:  True

### O porquê de X ser TRUE
Não entendi bem o que você está pedindo, pois a resposta já está em X, mas pelo que você falou, você quer mais uma interpretação, certo?

* X é o oposto de A e X é A AND B.
* Sabe-se que A é FALSE, logo NOT A é TRUE.
* Sabe-se também que B é TRUE
* Portanto, temos TRUE resultado de NOT A e TRUE de B
* Usamos o operador lógico de igualdade, onde A e B precisam ser TRUE para que X seja TRUE, e isso é verdade, portanto X é TRUE.