# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [88]:
import pandas as pd
import numpy as np

anomalia_termica_list = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalia_termica = pd.Series(data=anomalia_termica_list)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [89]:
indices = [1900,1920,1940,1960,1980,2000,2020]
anomalia_termica.index = indices
anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [90]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
temperaturas = pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [91]:
arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(data=arr)
df

             0           1           2
0    95.102234  101.582663  105.795221
1    95.108114   99.067526   97.689165
2   110.134766  109.739194  111.257616
3    93.172861   96.081408   92.741176
4   115.530263  116.106111   95.060475
5   100.589110   99.908552  108.067822
6    96.648675  105.559328   91.842389
7    75.227954   91.821680   94.909141
8    84.669143   91.699386   89.492122
9   103.792382   76.607534   96.200457
10   97.721685  107.404296   96.237640
11   90.601106  105.394025  115.164639
12   97.883154   87.512354  107.767862
13   98.598693   99.184208  104.846931
14  104.025248  113.491138   96.668623
15  113.802823   98.768887   97.030690
16  102.508507   97.384907   93.251726
17   82.728613  123.197521  102.300171
18  101.009088  114.286880   94.337910
19   93.357810   95.974318  103.224239

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [92]:
df.index = range(1, 21)
df.columns = ['x1', 'x2', 'x3']
df

            x1          x2          x3
1    95.102234  101.582663  105.795221
2    95.108114   99.067526   97.689165
3   110.134766  109.739194  111.257616
4    93.172861   96.081408   92.741176
5   115.530263  116.106111   95.060475
6   100.589110   99.908552  108.067822
7    96.648675  105.559328   91.842389
8    75.227954   91.821680   94.909141
9    84.669143   91.699386   89.492122
10  103.792382   76.607534   96.200457
11   97.721685  107.404296   96.237640
12   90.601106  105.394025  115.164639
13   97.883154   87.512354  107.767862
14   98.598693   99.184208  104.846931
15  104.025248  113.491138   96.668623
16  113.802823   98.768887   97.030690
17  102.508507   97.384907   93.251726
18   82.728613  123.197521  102.300171
19  101.009088  114.286880   94.337910
20   93.357810   95.974318  103.224239

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [93]:
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1    95.102234  101.582663  105.795221  100.826706
2    95.108114   99.067526   97.689165   97.288268
3   110.134766  109.739194  111.257616  110.377192
4    93.172861   96.081408   92.741176   93.998482
5   115.530263  116.106111   95.060475  108.898950
6   100.589110   99.908552  108.067822  102.855161
7    96.648675  105.559328   91.842389   98.016797
8    75.227954   91.821680   94.909141   87.319592
9    84.669143   91.699386   89.492122   88.620217
10  103.792382   76.607534   96.200457   92.200125
11   97.721685  107.404296   96.237640  100.454541
12   90.601106  105.394025  115.164639  103.719923
13   97.883154   87.512354  107.767862   97.721123
14   98.598693   99.184208  104.846931  100.876610
15  104.025248  113.491138   96.668623  104.728336
16  113.802823   98.768887   97.030690  103.200800
17  102.508507   97.384907   93.251726   97.715046
18   82.728613  123.197521  102.300171  102.742101
19  101.009088  114.286880   94.337910  103.211293
20   93.357810   95.974318  103.224239   97.518789

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [94]:
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    95.102234  101.582663  105.795221  100.826706  4.613403
2    95.108114   99.067526   97.689165   97.288268  4.577678
3   110.134766  109.739194  111.257616  110.377192  4.703904
4    93.172861   96.081408   92.741176   93.998482  4.543279
5   115.530263  116.106111   95.060475  108.898950  4.690420
6   100.589110   99.908552  108.067822  102.855161  4.633322
7    96.648675  105.559328   91.842389   98.016797  4.585139
8    75.227954   91.821680   94.909141   87.319592  4.469575
9    84.669143   91.699386   89.492122   88.620217  4.484360
10  103.792382   76.607534   96.200457   92.200125  4.523961
11   97.721685  107.404296   96.237640  100.454541  4.609705
12   90.601106  105.394025  115.164639  103.719923  4.641694
13   97.883154   87.512354  107.767862   97.721123  4.582118
14   98.598693   99.184208  104.846931  100.876610  4.613898
15  104.025248  113.491138   96.668623  104.728336  4.651370
16  113.802823   98.768887   97.030690  103.200800  4.636677
17  102.508507   97.384907   93.251726   97.715046  4.582056
18   82.728613  123.197521  102.300171  102.742101  4.632222
19  101.009088  114.286880   94.337910  103.211293  4.636778
20   93.357810   95.974318  103.224239   97.518789  4.580045